# deps
node_modules/

# builds
dist/
build/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# misc
*.tmp
